#{extends 'main.html' /}
#{set pageTitle:'calendars' /}

<td id="menu_menu">
	<h1>my calendars</h1>
   	<ul>
   		#{list items:loginUser.calendars, as:'calendar'}
   			<li><a href="@{Calendars.viewCalendar(calendar.id, currentDate)}">${calendar.name}</a></li>
   		#{/list}
    </ul>
    <!-- <h1>upcoming</h1>
   	<ul>
    	<li><a href="#">1</a></li>
    	<li><a href="#">2</a></li>
    	<li><a href="#">3</a></li>
    	<li><a href="#">4</a></li>
    	<li><a href="#">5</a></li>
    </ul> -->
</td>
<td id="content_content">
	#{doLayout /}
</td>