#{extends 'main.html' /}
#{set pageTitle:'calendars' /}
#{script 'ajaxAction.js' /}

<script type="text/javascript">
	var newCalendarAction = new AjaxAction(#{jsAction @Calendars.createNewCalendar() /}, 'html');
	
	$(document).ready(function() {
		$('#newCalendar_perform').click(function() {
			newCalendarAction.perform(
				{},
				function(data) {
					$('#newCalendar_content').html(data);
					showPopup('newCalendar');
				}
			);
			return false;
		});
	});
</script>

<td id="menu_menu">
	<h1>my calendars</h1>
   	<ul>
   		<li><a href="@{Calendars.viewGlobalCalendar(currentDate)}">All events</a></li>
   		#{list items:loginUser.calendars, as:'calendar'}
   			<li>
   				<a href="@{Calendars.viewCalendar(calendar.id, currentDate)}">${calendar.name}</a>
   				<a href="@{Events.addEvent(calendar.id, currentDate)}"><img src="/public/images/add.png" /></a>
   				<br/>
   				<a href="@{Calendars.editCalendar(calendar.id)}">edit</a>
   				<a href="@{Calendars.deleteCalendar(calendar.id)}">delete</a>
   			</li>
   		#{/list}
    </ul>
    <ul>
    <a href="" id="newCalendar_perform">new calendar</a>
    </ul>
    <!-- <h1>upcoming</h1>
   	<ul>
    	<li><a href="#">1</a></li>
    	<li><a href="#">2</a></li>
    	<li><a href="#">3</a></li>
    	<li><a href="#">4</a></li>
    	<li><a href="#">5</a></li>
    </ul> -->
</td>
<td id="content_content">
	#{doLayout /}
</td>

#{popup name:'newCalendar'}
	<h1>New Calendar</h1>
	<div id="newCalendar_content"></div>
	<div id="buttons">
		<input type="button" value="Cancel" onclick="#{hidePopup name:'newCalendar' /}" />
		<input type="button" value="Save" onclick="javascript: hidePopup('newCalendar'); document.forms['saveCalendar'].submit();" />
	</div>
#{/popup}