#{extends 'Calendars/calendarGrid.html' /}
#{stylesheet 'event.css' /}

<h1>${calendar.name}</h1>
#{if calendars.size()!=0}
In what calendar should the event be put?
	<table id="event_list">
		#{list items:calendars, as:'cal'}
			<tr>
				<td>
					<a href="@{Calendars.followEvent(calendar.id, currentDate, cal.id, event.id)}">${cal.name}</a>
				</td>
			</tr>
		#{/list}
	</table>
	#{if calendar.owner == loginUser}
		<div id="calendar_addevent">
			<input type="button" onclick="javascript:location.href='@{Calendars.addEvent(calendar.id, currentDate)}'" name="Add Event" value="Add Event">
		</div>
	#{/if}
#{/if}
#{else}
This event is followed by all your calendars!
#{/else}