<script type="text/javascript">
	var followAction = new AjaxAction(#{jsAction @Events.followEvent(':calendarId', ':eventId') /}, 'html');
	
	function follow(cal, event) {
		hidePopup('chooseCalendar'); 
		followAction.perform({'calendarId': cal, 'eventId': event}, function(data) {
			showPopup('follow_success');
		});
	}
</script>

<h1>Follow event</h1>
#{if calendars.size()!=0}
	<table id="event_list">
		<tr>
			<td>
				In what calendar would you like to include the followed event?
			</td>
		</tr>
		#{list items:calendars, as:'cal'}
			<tr id="event_event">
				<td>
					<table id="event_event"><tr><td><a href="javascript:follow(${cal.id}, ${event.id})">${cal.name}</a></td></tr></table>
				</td>
			</tr>
		#{/list}
	</table>
#{/if}
#{else}
<table id="event_list">
	<tr>
		<td>
			This event is followed by all your calendars!
		</td>
	</tr>
</table>
#{/else}