#{extends 'Calendars/calendarGrid.html' /}
#{stylesheet 'event.css' /}
#{ifErrors}
<ul>
#{errors}
    <li>${error}</li>
#{/errors}
</ul>
#{/ifErrors}
#{form @Calendars.saveEvent(calendar.id, currentDate)}
<h1>${actionName}</h1>
<table id="event_form">
	#{field 'id'}
	<input type="hidden" id="${field.id}" name="${field.name}" value="${flash.id}" />
	#{/field}
	#{field 'name'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.name}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'startDate'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.startDate}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'startTime'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.startTime}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'endDate'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.endDate}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'endTime'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.endTime}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'repeatableType'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<select type="text" id="${field.id}" name="${field.name}" class="${field.errorClass}">
					<option value="1" #{if repeatableType == 1}selected#{/if}>None</option>
					<option value="2" #{if repeatableType == 2}selected#{/if}>Daily</option>
					<option value="3" #{if repeatableType == 3}selected#{/if}>Weekly</option>
					<option value="4" #{if repeatableType == 4}selected#{/if}>Monthly</option>
					<option value="5" #{if repeatableType == 5}selected#{/if}>Yearly</option>
				</select>
			</td>
		</tr>
	#{/field}
	#{field 'isPublic'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="checkbox" id="${field.id}" name="${field.name}" #{if isPublic} checked #{/if} class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'note'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<textarea id="${field.id}" name="${field.name}" class="${field.errorClass}">${flash.note}</textarea>
			</td>
		</tr>
	#{/field}
	<tr>
		<td colspan="2" id="event_buttons">
			<input type="button" name="Cancel" value="Cancel" onclick="javascript:location.href='@{Calendars.viewCalendar(calendar.id, currentDate)}';"/>
			<input type="submit" id="submit" name="OK" value="OK" />
		</td>
	</tr>
</table>
#{/form}