#{extends 'Calendars/calendarGrid.html' /}
#{stylesheet 'event.css' /}

<h1>${calendar.owner.nickname}: ${calendar.name} (view/follow access)</h1>
<table id="event_list">
	#{list items:calendar.eventsAtDay(loginUser, currentDate), as:'event'}
		<tr>
			<td>
				<table id="event_event">
					<tr>
						<td class="event_title">${event.name} #{if event?.isFollowedBy(calendar.owner, calendar)} - (followed#{if event.owner.equals(loginUser)} from you#{/if})#{/if}</td>
						<td class="event_properties">#{ifnot event?.owner.equals(loginUser)}<a href="@{Calendars.copyEvent(calendar.id, currentDate, event.id)}">follow</a>#{/ifnot}</td>
					</tr>
					<tr>
						<td class="event_date" colspan="2">${event.start.format('yyyy-MM-dd, HH:mm')} - ${event.end.format('yyyy-MM-dd, HH:mm')}</td>
					</tr>
					<tr>
						<td class="event_note" colspan="2">Note: ${event.note}</td>
					</tr>
				</table>
			</td>
		</tr>
	#{/list}
</table>