*{ this tag shows a simple calendar in a month view 
	requiered parameters for this tag are:
		@param date 		a specific date 
		@param locale		a locale object to specify local date and time formatting
		@param calendar		a calendar for obtaining a calendar.id to build an URL
		@param user			a user for obtaining a nickname to build an URL
}*
%{
	/*
	 * this code below, handles all the date arithmetic
	 */
	//transform aDate to a joda time date (aJodaDate)
	org.joda.time.DateTime aJodaDate = new org.joda.time.DateTime(_date);	
	Date nextMonth = aJodaDate.plusMonths(1).toDate();
	Date prevMonth = aJodaDate.minusMonths(1).toDate();
	
	//get a list of all days of a week
	org.joda.time.DateTime.Property propertyOfWeek = aJodaDate.dayOfWeek();
	String[] daysOfWeek = new String[propertyOfWeek.getMaximumValue()];
	
	//create an array of days of a week
	for(int i = 0; i < daysOfWeek.length; i++){
		daysOfWeek[i] = aJodaDate.withDayOfWeek(i+1).toString('E',_locale);
	}
	
	//get today as int
	org.joda.time.DateTime now = new org.joda.time.DateTime();
	int today = now.dayOfMonth().get();
	
	//get selected day as int
	int selectedDay = aJodaDate.dayOfMonth().get();
	
	//max days of a month
	int maxDaysOfMonth = aJodaDate.dayOfMonth().getMaximumValue();
	
	//get the first day of the month as int. Ex.: monday = 1, etc...
	org.joda.time.DateTime firstDayOfMonth = aJodaDate.withDayOfMonth(1);
	int startDay = firstDayOfMonth.dayOfWeek().get();
	
	//create a "runner" day object
	org.joda.time.DateTime runDay = firstDayOfMonth.minusDays(startDay-1);
	
	
	//create days for the calendartable
	int dayOfMonth = 1;
	String[] dayFields = new String[42];
	Date[] days = new Date[42];
		
	for(int i = 0; i < dayFields.length; i++) {
		days[i] = runDay.plusDays(i).toDate();
	}
	
	boolean[] boldDays = new Boolean[42];
	
	for(int i = 0; i < boldDays.length; i++){
		
		
		for(models.Event ev : _calendar.events){
			boldDays[i] = ev.happensOnDay(days[i]) || boldDays[i];
		}
	}
}%

<h2><a href="@{Calendars.viewCalendar(_calendar.id, prevMonth)}">&laquo;</a> ${_date.format('yyyy-MM-dd')} <a href="@{Calendars.viewCalendar(_calendar.id, nextMonth)}">&raquo;</a></h2>

<p>
<div id="calendarheader">
	#{list items:daysOfWeek, as:'dayOfWeek'}
   			<div class="weekday"> ${dayOfWeek} </div>
	#{/list}
</div>

<div id="calendartable">
%{
	for(int i = 0; i < days.length; i++ ) {
		Date day = days[i];	
}%
		#{if boldDays[i] }
			<strong>
		#{/if}
		
		#{if day.format('yyyy-MM-dd').equals(new Date().format('yyyy-MM-dd'))}
   			<div id="today" class="dayfield"><a href="@{Calendars.viewCalendar(_calendar.id, day)}">${day.format('d')}</a></div>
   		#{/if}
   		#{elseif day.format('yyyy-MM-dd').equals(_date.format('yyyy-MM-dd'))}
			<div id="selectedday" class="dayfield"><a href="@{Calendars.viewCalendar(_calendar.id, day)}">${day.format('d')}</a></div>
		#{/elseif}
		#{elseif _date.format('yyyy-MM').equals(day.format('yyyy-MM'))}
			<div class="dayfield"><a href="@{Calendars.viewCalendar(_calendar.id, day)}">${day.format('d')}</a></div>
		#{/elseif}
   		#{else}
   		<div class="otherdayfield"><a href="@{Calendars.viewCalendar(_calendar.id, day)}">${day.format('d')}</a></div>
   		#{/else}
   		
   		#{if boldDays[i] }
			</strong>
		#{/if}
	%{
	}
}%
</div>

<div id="calendarend"></div>
</p>