*{ this tag shows a simple calendar in a month view 
	requiered parameters for this tag are:
		@param aDate 		a specific date 
		@param aLocale		a locale object to specify local date and time formatting
		@param aCalendar	a calendar for obtaining a calendar.id to build an URL
		@param user			a user for obtaining a nickname to build an URL
}*
#{stylesheet 'calendar.css' /}
%{
	/*
	 * this code below, handles all the date arithmetic
	 */
	//transform aDate to a joda time date (aJodaDate)
	org.joda.time.DateTime aJodaDate = new org.joda.time.DateTime(_aDate);	
	Date nextMonth = aJodaDate.plusMonths(1).toDate();
	Date prevMonth = aJodaDate.minusMonths(1).toDate();
	
	//get a list of all days of a week
	org.joda.time.DateTime.Property propertyOfWeek = aJodaDate.dayOfWeek();
	String[] daysOfWeek = new String[propertyOfWeek.getMaximumValue()];
	
	//create an array of days of a week
	for(int i = 0; i < daysOfWeek.length; i++){
		daysOfWeek[i] = aJodaDate.withDayOfWeek(i+1).toString('E',_aLocale);
	}
	
	//get today as int
	org.joda.time.DateTime now = new org.joda.time.DateTime();
	int today = now.dayOfMonth().get();
	
	//get selected day as int
	int selectedDay = aJodaDate.dayOfMonth().get();
	
	//max days of a month
	int maxDaysOfMonth = aJodaDate.dayOfMonth().getMaximumValue();
	
	//get the first day of the month as int. Ex.: monday = 1, etc...
	org.joda.time.DateTime firstDayOfMonth = aJodaDate.withDayOfMonth(1);
	int startDay = firstDayOfMonth.dayOfWeek().get();
	
	//create a "runner" day object
	org.joda.time.DateTime runDay = firstDayOfMonth.minusDays(startDay-1);
	
	
	//create days for the calendartable
	int dayOfMonth = 1;
	String[] dayFields = new String[42];
	Date[] days = new Date[42];
		
	for(int i = 0; i < dayFields.length; i++) {
		days[i] = runDay.plusDays(i).toDate();
	}
}%

<h2>#{a @showDate(_user.nickname,_calendar.id,prevMonth)}<|-#{/a} ${_aDate.format('yyyy-MM-dd')} #{a @showDate(_user.nickname,_calendar.id,nextMonth)}-|>#{/a}</h2>

<p>
<div id="calendarheader">
	#{list items:daysOfWeek, as:'dayOfWeek'}
   			<div class="weekday"> ${dayOfWeek} </div>
	#{/list}
</div>

<div id="calendartable">
	#{list items:days, as:'day'}
		#{if day.format('yyyy-MM-dd').equals(new Date().format('yyyy-MM-dd'))}
   			<div id="today" class="dayfield"> #{a @showDate(_user.nickname, _calendar.id, day)} ${day.format('d')} #{/a}</div>
   		#{/if}
   		#{elseif day.format('yyyy-MM-dd').equals(_aDate.format('yyyy-MM-dd'))}
			<div id="selectedday" class="dayfield"> #{a @showDate(_user.nickname, _calendar.id, day)} ${day.format('d')} #{/a}</div>
		#{/elseif}
		#{elseif _aDate.format('yyyy-MM').equals(day.format('yyyy-MM'))}
			<div class="dayfield"> #{a @showDate(_user.nickname, _calendar.id, day)} ${day.format('d')} #{/a}</div>
		#{/elseif}
   		#{else}
   		<div class="otherdayfield"> #{a @showDate(_user.nickname, _calendar.id, day)} ${day.format('d')} #{/a}</div>
   		#{/else}
	#{/list}
</div>

<div id="calendarend"></div>
</p>