*{ this tag lists all events of a calendar at a specific date }*
<p>
#{if _events.size() != 0}
	<ul>
	#{list items: _events, as: 'event' }
		<li>${ event.name }, start: ${ event.start.format('yyyy-MM-dd , HH:mm') }, end: ${ event.end.format('yyyy-MM-dd , HH:mm') } #{if event.isPublic == true}(public)#{/if}#{else}(private)#{/else} #{a @Events.editEvent(event.id)} Edit #{/a}  #{a @Events.removeEvent(event.id)} | Remove #{/a} </li>
	#{/list}
	</ul>
#{/if}
#{else}
	There are no events.
#{/else}
</p>
