*{ this tag lists all events of a calendar at a specific date }*
<p>
#{if _events.size() != 0}
	<ul>
	#{list items: _events, as: 'event' }
		<li>${ event.name }, start: ${ event.start.format('yyyy-MM-dd , HH:mm') }, end: ${ event.end.format('yyyy-MM-dd , HH:mm') } 
		#{if event.isPublic == true}(public)#{/if}
		#{else}(private)#{/else} 
		#{if event.owner == _user && _owner == _user}
			#{a @Events.editEvent(event.id)} Edit #{/a}  
			#{a @Events.removeEvent(event.id)} | Remove #{/a} 
		#{/if}
		#{if _user != event.owner && event.isFollowable && !event.isFollowedBy(_user)} 
			#{a @Events.selectCalendarToFollowEvent(event.id, _calendar.id)} Follow #{/a} 
		#{/if}
		
		#{if _owner != event.owner && event.isFollowable && event.isFollowedBy(_user) && _user!=event.owner} 
			 following!
		#{/if}
		
		#{if event.owner == _user && event.isFollowed()}
			followed!
		#{/if}
		</li>
	#{/list}
	</ul>
#{/if}
#{else}
	There are no events.
#{/else}
</p>
