
#calendartable {

}

#calendarend {
	clear: both;
}

.weekday {
	float: left;
	width: 13%;
	height: 30px;
	border: solid 1px black;
	text-align: center;
	color: black;
}

.dayfield {
	float: left;
	width: 13%;
	height: 30px;
	border: solid 1px black;
	text-align: center;
	color: black;
}

.otherdayfield {
	float: left;
	width: 13%;
	height: 30px;
	border: solid 1px black;
	text-align: center;
	color: black;
	background: gray;
}

#today {
	background: yellow;
}

#selectedday {
	background: orange;
}







