
#calendartable {

}

#calendarend {
	clear: both;
}

#dayfield {
	float: left;
	width: 13%;
	height: 30px;
	border: solid 1px black;
	text-align: center;
	color: black;
}

.today {
	background: gray;
}

.selectedday {
	background: orange;
}





