#contacts_contacts {
	margin: 20px 10px;
}

#contacts_name {
	padding: 5px;
	width: 200px;
	font-weight: bold;
}

#contacts_options {
	text-align: right;
	font-size: 13px;
}

#contacts_calendars {
	margin-left: 20px;
}