body {
	height: 100%;
}

#popup_background {  
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
}

#popup_content {
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	background: -moz-linear-gradient(top,  #ccccdd,  #ffffff);
	border: 1px solid #4f4f4f;
	padding: 10px;
	display: none;
	position: fixed;  
/*	height: 150px;  
	width: 300px; */
	background-color: #FFFFFF;
	z-index: 2;
}

#popup_content h1 {
	font-size: 16px;
}

#popup_content p {
	font-size: 13px;
}

#popup_content #buttons {
	margin-top: 40px;
	text-align: right;
}

#popup_content input[type=button] {
	width: 100px;
}
