<!DOCTYPE html>

#{stylesheet 'title.css' /}
#{stylesheet 'login.css' /}


<html>
    <head>
        <title>ALT-F4 - login</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<table id="main_main" cellspacing="0">
    		<tr id="title_title">
    			<td id="title_titlename"><h1>Welcome</h1></td>
    			<td id="title_titlemenu">
    				<ul>
    					<li><a href="@{Security.registration()}">Register</a></li>
    				</ul>
    			</td>
	    	</tr>
	    	<tr>
	    		<td id = "login_login" colspan = "2">
	    			<h1>log into ALT-F4</h1>
	    			<div align="center">
		    			#{form @authenticate()}
    					<table>
    						<tr>
    							<td align="right"><label>username</label></td>
    							<td><input type="text" name="username" maxlength="80"/></td>
    						</tr>
    						<tr>
    							<td align="right"><label>password</label></td>
    							<td><input type="password" name="password" maxlength="80"/></td>
    						</tr>
    						<tr>
    							<td colspan="2" align="right"><input type="submit" value="log in" /></td>
    						</tr>
    					</table>
						#{/form}
					</div>
				</td>
	   		</tr>
    	</table>
    </body>
</html>