#{form @createEvent(calendar.id) , id:'updateForm', enctype:'multipart/form-data'}
<h1>Add Event</h1>
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
<p>
#{field 'name'}
	<label>&{field.name}</label>
	<input type="text" id="${field.id}" name="${field.name}" value="${flash.name}" class="${field.errorClass}">
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
#{field 'startDate'}
	<label>&{field.name}</label>
	<input type="date" id="${field.id}" name="${field.name}" value="${flash.startDate}" class="${field.errorClass}" placeholder="yyyy-MM-dd">
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
#{field 'endDate'}
	<label>&{field.name}</label>
	<input type="date" id="${field.id}" name="${field.name}" value="${flash.endDate}" class="${field.errorClass}" placeholder="yyyy-MM-dd">
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
#{field 'startTime'}
	<label>&{field.name}</label>
	<input type="text" id="${field.id}" name="${field.name}" value="${flash.startTime}" class="${field.errorClass}" placeholder="HH:mm">
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
#{field 'endTime'}
	<label>&{field.name}</label>
	<input type="text" id="${field.id}" name="${field.name}" value="${flash.endTime}" class="${field.errorClass}" placeholder="HH:mm">
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
#{field 'isPublic'}
	<label>is this event public?: </label>
	<input type="checkbox" id="${field.id}" name="${field.name}" class="${field.errorClass}" ></input>
#{/}
</p>

<p>
#{field 'note'}
	<label>&{field.name}</label>
	<textarea rows="6" cols="100" id="${field.id}" name="${field.name}" class="${field.errorClass}">${flash.note}</textarea>
	<span class="error">${field.error}</span>
#{/}
</p>
<p>
	<input type="submit" id="submit" name="Add" value="Add" />
</p>
#{/form}
#{a @Calendars.showCalendar(user.nickname,calendar.id)}Back #{/a}
