#{extends 'main.html' /}
#{set title:'Home' /}

*{Renders a list of all the contacts of the currently logged in user. Provides links to remove them}*
*{renderArgs: contacts (List<User>)}*

<div id="contactsList">
	<h1>my contacts</h1>
	<table border="1">
		#{list items:contacts, as:'contact'}
			<tr>
				<td width="300px">${contact.fullname}</td><td width="100px">#{a @Contacts.removeContact(contact.id)}remove#{/a}</td>
			</tr>
		#{/list}
	</table>
	<p>#{a @Contacts.addContacts()}add contact#{/a}</p>
</div>
