#{extends 'main.html' /}
#{set pageTitle:'contacts' /}
#{stylesheet 'contacts.css' /}
#{stylesheet 'jquery-ui/smoothness/jquery-ui-1.8.16.custom.css' /}
#{script 'jquery-ui/jquery-ui-1.8.16.custom.min.js' /}


<script type="text/javascript">
	$(document).ready(function(){

		$('#contact_query').each( function() {
	   		var $input = $(this);
	  		var serverUrl = $input.data('url');
	   		$input.autocomplete({ 	source:serverUrl, 
	   								delay: 0
	   		});
		});
	});
</script>

<style>
	#contacts_grid {
		display: block;
	}
	
	#users_grid {
	
	}
	#entry {
		float: left;
		width: auto;
		height: auto;
		padding: 10px;
		
	}
	#entry_inner {
		padding: 5px;
		border: solid 1px;
	}
</style>

<td id="menu_menu">
	<h1>my contacts</h1>
</td>
<td id="content_content">
	<h1>Contacts</h1>
	<table id="contacts_contacts">
		#{form @Contacts.index()}
		<tr>
			<td id="contacts_search">
				<input type="text" name="contactSearch" value="${contactSearch}"  /> 
				<input type="submit" value="Filter" />
			</td>
		</tr>
		#{/form}
		<tr>
			<td>
				<div class="contacts_grid">
				#{list items:contacts, as:'contact'}
					<div id="entry"><div id="entry_inner"><a href="@{Profile.viewProfile(contact.id)}"><div id="username">${contact.nickname}</div> #{gravatar.img contact.mail /}</a> <a href="@{Contacts.remove(contact.id)}"><img src="/public/images/remove_contact.png" /></a></div></div>
				#{/list}
				</div
			</td>
		</tr>
	</table>

	<hr />
	<h1>Other Users</h1>
	<table id="contacts_contacts">
		<tr>
			
			#{form @Contacts.index()}
				<td id="contacts_search">
					<input type="hidden" name="contactSearch" value="${contactSearch}" />
					<input type="text" id="contact_query" name="userSearch" value="${userSearch}" class="autocomplete" data-url="@{Ajax.searchUser()}" /> 
					<input type="submit" value="Search" />
				</td>
			#{/form}
		</tr>
		<tr>
			<td>
				<div class="users_grid">
					#{list items:users, as:'user'}
						<div id="entry"><div id="entry_inner"><a href="@{Profile.viewProfile(user.id)}"><div id="username">${user.nickname}</div> #{gravatar.img user.mail /}</a> <a href="@{Contacts.add(user.id)}"><img src="/public/images/add_contact.png" /></a></div></div>
					#{/list}
				</div
			</td>
		</tr>
	</table>
	
</td>