#{extends 'main.html' /}
#{set pageTitle:'profile' /}
#{stylesheet 'event.css' /}

<td id="menu_menu">
	<h1>my profile</h1>
</td>
<td id="content_content">
<table id="event_form">
	<tr>
		<td><h1>edit profile</h1><td>
	</tr>
</table>
#{ifErrors}
<ul>
#{errors}
    <li>${error}</li>
#{/errors}
</ul>
#{/ifErrors}
#{form @Profile.saveProfile(user.id)}
<table id="event_form">
	#{field 'name'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.name}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'nickname'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.nickname}
			</td>
		</tr>
	#{/field}
	#{field 'email'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.email}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'birthday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.birthday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'telNumber'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.telNumber}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'description'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<textarea id="${field.id}" name="${field.name}" class="${field.errorClass}">${flash.description}</textarea>
			</td>
		</tr>
	#{/field}
	
	<td class="event_key" ><label><HR ALIGN=LEFT WIDTH=100%> Office:</label></td>
	
	#{field 'officeNumber'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.officeNumber}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'monday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.monday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'tuesday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.tuesday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'wednesday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.wednesday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}	
	#{field 'thursday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.thursday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'friday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.friday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'saturday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.saturday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	#{field 'sunday'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				<input type="text" id="${field.id}" name="${field.name}" value="${flash.sunday}" class="${field.errorClass}" />
			</td>
		</tr>
	#{/field}
	<tr>
		<td colspan="2" id="event_buttons">
			<input type="button" name="Cancel" value="Cancel" onclick="javascript:location.href='@{Profile.viewProfile(user.id)}';"/>
			<input type="submit" id="submit" name="OK" value="OK" />
		</td>
	</tr>
</table>
#{/form}
</td>