<!DOCTYPE html>

#{set 'moreStyles'}
	#{stylesheet 'profile.css' /}
#{/set}

#{set 'moreScripts'}
        #{script 'profile.js' /}
#{/set}


<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="main">
	    	<div id="title">
	    		<div id="pages">
    				<ul>
    					<li><a href="#">home</a></li>
    					<li class="selected"><a href="#">profile</a></li>
    					<li><a href="#">contacts</a></li>
    					<li><a href="#">settings</a></li>
    					<li><a href="#">logout</a></li>
    				</ul>
    			</div>
	    		<div id="page"><h1>alt f4</h1></div>
    		</div>
    		<div id="menu">
    			<h1>options</h1>
    			<ul>
    				<li class="selected"><a href="#">view</a></li>
    				<li><a href="#">edit</a></li>
    			</ul>
    		</div>
    		<div id="content">
    			<h1>your profile</h1>
    			<table border="0">
    				<tr>
    					<td class="key">nickname</td>
    					<td class="value">poljpocket</td>
    				</tr>
    				<tr>
    					<td class="key">full name</td>
    					<td class="value">Julian Pollak</td>
    				</tr>
    				<tr>
    					<td class="key">email address</td>
    					<td class="value">julian.pollak@students.unibe.ch</td>
    				</tr>
    				<tr>
    					<td class="key">description</td>
    					<td class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor risus vitae ipsum aliquet pellentesque. Aliquam id mi ligula, sed vehicula justo. Donec et libero eu velit vehicula lacinia. Pellentesque vitae orci arcu, et commodo velit. Pellentesque vulputate, enim eu sollicitudin luctus, tortor nisl viverra metus, sed volutpat nibh purus in purus. Sed quam magna, hendrerit non tempus a, dictum sed lectus. Pellentesque pretium, neque eu fringilla suscipit, urna ligula ultrices libero, sed fermentum nulla ante vitae sem. Curabitur nec libero tellus, nec feugiat nisi. Curabitur eleifend nisi nec turpis blandit adipiscing. Fusce mauris est, dictum non malesuada at, fringilla eu nulla. Suspendisse blandit, odio vitae ultricies blandit, purus enim sagittis purus, quis consequat felis libero eu risus. Donec ac velit vitae erat egestas pretium sit amet non quam.</td>
    				</tr>
    			</table>
    		</div>
    	</div>
    </body>
</html>