#{extends 'main.html' /}
#{set pageTitle:'profile' /}
#{stylesheet 'event.css' /}

<td id="menu_menu">
	<h1><a href="@{Profile.index()}">my profile</a></h1>
	<h1><a href="@{Profile.showPastActions()}">my past actions</a></h1>	
</td>
<td id="content_content">
<table id="event_form">
	<tr>
		<td><h1>${user.fullname}</h1><td>
		<td class="event_key">#{if user?.equals(loginUser)}<a href="@{Profile.editProfile(user.id)}">edit profile</a>#{/if}
	</tr>
</table>
<table id="event_form">
	#{field 'name'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.fullname}
			</td>
		</tr>
	#{/field}
	#{field 'nickname'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.nickname}
			</td>
		</tr>
	#{/field}
	#{field 'email'}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.mail}
			</td>
		</tr>
	#{/field}
	#{field 'birthday'}#{if user.birthday != null}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getBirthdayToString()}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'telNumber'}#{if user.telNumber != null && user.telNumber!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.telNumber}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'description'}#{if user.profile !=null && user.profile !=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_note" colspan="2">
				${user.profile}
			</td>
		</tr>
		#{/if}
	#{/field}
	
 	<td class="event_key" ><label><HR ALIGN=LEFT WIDTH=100%> Office:</label></td>
 	
	#{field 'officeNumber'}#{if user.officeNumber != null && user.officeNumber !=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.officeNumber}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'monday'}#{if user.getOfficeTime(0) != null && user.getOfficeTime(0)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(0)}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'tuesday'}#{if user.getOfficeTime(1) != null && user.getOfficeTime(1)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(1)}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'wednesday'}#{if user.getOfficeTime(2) != null && user.getOfficeTime(2)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(2)}
			</td>
		</tr>
		#{/if}
	#{/field}	
	#{field 'thursday'}#{if user.getOfficeTime(3) != null && user.getOfficeTime(3)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(3)}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'friday'}#{if user.getOfficeTime(4) != null && user.getOfficeTime(4)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(4)}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'saturday'}#{if user.getOfficeTime(5) != null && user.getOfficeTime(5)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(5)}
			</td>
		</tr>
		#{/if}
	#{/field}
	#{field 'sunday'}#{if user.getOfficeTime(6) != null && user.getOfficeTime(6)!=''}
		<tr>
			<td class="event_key">
				<label for="${field.name}">&{field.name}</label>
			</td>
			<td class="event_value">
				${user.getOfficeTime(6)}
			</td>
		</tr>
		#{/if}
	#{/field}
</table>
</td>